<script language="Javascript">
    window.addEventListener("load", function () {
        // [1] GET ALL THE HTML ELEMENTS
        var video = document.getElementById("vid-show"),
            snapshot = document.getElementById("snapshot"),
            take = document.getElementById("vid-take");

        // [2] ASK FOR USER PERMISSION TO ACCESS CAMERA
        // WILL FAIL IF NO CAMERA IS ATTACHED TO COMPUTER
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                // [3] SHOW VIDEO STREAM ON VIDEO TAG
                video.srcObject = stream;
                video.play();

                // [4] WHEN WE CLICK ON "TAKE PHOTO" BUTTON
                take.addEventListener("click", function () {
                    // Create snapshot from video
                    var draw = document.createElement("canvas");
                    draw.width = video.videoWidth;
                    draw.height = video.videoHeight;
                    var context2D = draw.getContext("2d");
                    context2D.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
                    // Upload to server
                    draw.toBlob(function (blob) {
                        var data = new FormData();
                        data.append('upimage', blob);
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', "/customer/snapshot", true);
                        xhr.onload = function () {
                            if (xhr.status == 403 || xhr.status == 404) {
                                alert("Error Loading Photo");
                            } else {
                                document.getElementById("picfile").value = this.response;
                                //calert(this.response);
                                var img = document.createElement("img");
                                img.src = "/customers/" + this.response;
                                img.width = 120;
                                img.height = 80;
                                snapshot.appendChild(img);

                            }
                        };
                        xhr.send(data);
                    });
                });
            })
            .catch(function (err) {
                document.getElementById("vid-controls").innerHTML = "Please enable access and attach a camera";
            });
    });

</script>


@model Customer

<div class="form-group row">
    <div class="offset-sm-2 col-sm-4">
        <h2>Create a New Customer</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <form asp-controller="Customer"
              asp-action="Create"
              method="post" enctype="multipart/form-data">


            <input type="text" asp-for="customer_id" class="form-control" hidden />


            <div class="form-group row">
                <label class="control-label col-sm-2" asp-for="customer_name">Name: </label>
                <div class="col-sm-7">
                    <input type="text" asp-for="customer_name" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <span asp-validation-for="customer_name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" asp-for="surname">Surname: </label>
                <div class="col-sm-7">
                    <input type="text" asp-for="surname" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <span asp-validation-for="surname" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" asp-for="email">Email: </label>
                <div class="col-sm-7">
                    <input type="text" asp-for="email" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>

            @{
                List<SelectListItem> memberList = ViewData["MembershipList"] as List<SelectListItem>;
            }
            <div class="form-group row">
                <label class="control-label col-sm-2" asp-for="membership">Membership: </label>
                <div class="col-sm-7">
                    <select asp-for="membership" class="form-group" asp-items="memberList"></select>
                </div>
                <div class="col-sm-3">
                    <span asp-validation-for="membership" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" asp-for="picfile">Photo:</label>
                <div class="col-sm-7">
                    <input type="text" asp-for="picfile" class="form-control" hidden />
                    <div id="snapshot" class="form-group row"></div>
                </div>
                <div class="col-sm-3">
                    <span asp-validation-for="picfile" class="text-danger"></span>
                </div>
            </div>


            <input type="text" asp-for="signup_date" class="form-control" hidden value="1" />


          <input type="text" asp-for="face_id" class="form-control" hidden value="1" />
          
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>


            @if (ViewData["Message"] != null)
            {
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-7">
                        <div class="alert alert-@ViewData[" MsgType"]">
                            <text>@ViewData["Message"]</text>
                        </div>
                    </div>
                </div>
            }

        </form>
    </div>

    <div class="col-sm-3">
        <div id="vid-controls" class="form-group row">
            <video id="vid-show" autoplay width="240" height="320"></video>
            <div id="vid-canvas"></div>
        </div>
        <div class="form-group row">
            <input id="vid-take" type="button" value="Take Photo" class="btn btn-info" />
        </div>
    </div>

</div>

