<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">

    <!--Brand/logo-->
    <a class="navbar-brand" href="#">Smiley</a>


    <!--Linked-->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Records">Records</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Performance">Performance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Test">Try It Out !</a>
        </li>
    </ul>
</nav>

<div>&nbsp;</div>

<div id="Footer">
    <footer>
        <p>&copy; @DateTime.Now.Year - Smiley</p>
    </footer>
</div>

<style>
    #Footer {
        position: absolute;
        bottom: 0px;
        height: 3px;
    }
</style>

